* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    /*The box-sizing property is used to tell the browser what the sizing properties (width and height) should include border-box.*/
    box-sizing: border-box;
    /*reset Chrome user agent styles*/
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-before: 0px;
    -webkit-padding-after: 0px;
    -webkit-padding-start: 0px;
    -webkit-padding-end: 0px;
}

body {
    background-image: url('../images/grocery.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}


/* Header */

.masthead {
    text-align: center;
    margin: -2rem auto;
    width: 43rem;
    background-color: #067132;
    border-radius: 0rem 13rem 0rem 12rem;
    opacity: 0.85;
}

.masthead-heading {
    font-family: cursive;
    font-size: 6rem;
    color: tomato;
}


/* Shopping list form */

.list-checkbox {
    font-size: 1.2rem;
    margin-left: 1rem;
}

.checkbox-button {
    height: 2rem;
    width: 2rem;
    font-size: 1.5rem;
    background-color: tomato;
    float: left;
    margin-left: 0.4rem;
    cursor: pointer;
}

.checkbox {
    text-decoration: line-through;
    color: gray;
    background-color: lightgrey;
}

.crossbox-button {
    height: 2rem;
    width: 2rem;
    font-size: 1.5rem;
    background-color: tomato;
    float: right;
    margin-right: 0.4rem;
    cursor: pointer;
}

.shopping-list {
    margin: 0 auto;
    float: none;
    width: 31rem;
    padding: 0rem 0rem;
}

.add-item {
    width: 23rem;
    height: 3rem;
    border-radius: 0.3rem;
    border: 1px solid black;
    cursor: text;
}

.input-button {
    width: 7rem;
    height: 3rem;
    border-radius: 0.3rem;
    color: white;
    background-color: tomato;
    border: 1px solid black;
    text-align: center;
    display: inline;
    cursor: pointer;
}


/* Bought and to buy lists */

.buy-header,
.bought-header {
    border: 1px solid black;
    padding: 0.6rem 1rem;
    background-color: forestgreen;
    border-radius: 0.3rem;
    text-align: center;
    font-size: 1.3rem;
    color: white;
    font-weight: 400;
    margin-top: 1rem;
}

.buy-items {
    margin-top: 2rem;
}

.bought-items {
    margin-top: 1rem;
}

.bought-list,
.buy-list {
    list-style-type: none;
    background-color: beige;
    border-radius: 0.3rem;
    min-height: 10rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    opacity: 0.95;
}

.buy-items li {
    text-align: left;
    margin: 0.3rem 0.3rem;
    display: block;
    width: 95%;
    min-height: 2.2rem;
    margin-left: auto;
    margin-right: auto;
}


/* List Contents */

.list-contents {
    margin: 0.15rem 0rem;
    padding: 0.12rem 0rem;
    font-size: 2rem;
    color: white;
    width: 100%;
    height: 1.5rem;
    border-radius: 0.13rem;
}

.buy-list li:hover {
    color: gray;
    border: 2px dashed green;
    cursor: pointer;
    border-radius: 0.1rem;
    cursor: pointer;
}


/* Footer Button */

#clearall {
    background-color: tomato;
    height: 3rem;
    width: 9rem;
    color: white;
    border: 1px solid black;
    border-radius: 0.3rem;
    margin-left: 11rem;
    margin-top: 3rem;
    margin-bottom: 2rem;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
}
